{{> header}}

<div class="container text-center">
    <h1><a href="{{investorInfo.website}}">{{investorInfo.name}}</a></h1>
    <h2 class="text-muted">{{investorInfo.description}}</h2>
</div>

<div class="container">
    <div class="col-s-12 col-lg-3">
        <img src="{{investorInfo.logo}}" class="img-logo img-responsive float-left mr-3" width="300px">
    </div>
    <div class="col-s-12 col-lg-12">
        <p>{{investorInfo.bio}}</p>
    </div>
</div>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Investor Type</th>
                <th scope="col">Founded</th>
                <th scope="col">Location</th>
                <th scope="col">Contact</th>
                <th scope="col">Investment Thesis</th>
                <th scope="col">Investment Range</th>
                <th scope="col">Managed Assets</th>
                <th scope="col">Portfolio Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col">{{investorInfo.investorType}}</td>
                <td scope="col">{{investorInfo.foundedDate}}</td>
                <td scope="col">{{investorInfo.location}}</td>
                <td scope="col">{{investorInfo.contact}}</td>
                <td scope="col">{{investorInfo.investmentThesis}}</td>
                <td scope="col">{{investorInfo.investmentRange}}</td>
                <td scope="col">{{investorInfo.managedAssets}}</td>
                <td scope="col">{{investorInfo.portfolioSize}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <a href="/investors"><button class="btn btn-blue">Back to Investors</button></a>
</div>

{{> footer}}